.bounding-box {
  position: absolute;
  box-shadow: 0 0 0 3px grey inset;

  flex-wrap: wrap;
  justify-content: center;
  cursor: pointer;
}

.main-container {
  display: flex;
  width: 100%;

  margin: 15px auto;
  justify-content: center;
}

.sub-container {
  position: absolute;
  width: 500px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
